#main-content #binaryPage #rightContent #betAmount.bgSecondary3[data-v-0dc9f329], #main-content #binaryPage #rightContent[data-v-0dc9f329] {
    background-color: #011022!important;
}
#main-content #binaryPage #rightContent, #main-content #binaryPage #rightContent #betAmount.bgSecondary3 {
    background-color: #011022!important;
}
#main-content #binaryPage #rightContent, #main-content #binaryPage #rightContent #betAmount.bgSecondary3 {
    background-color: #011022!important;
}
#binaryPage .rightContent.hideTransaction[data-v-0dc9f329] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 210px;
    flex: 0 0 210px;
    max-width: 210px;
}
#binaryPage .rightContent[data-v-0dc9f329] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 420px;
    flex: 0 0 420px;
    max-width: 420px;
    -webkit-transition: all .5s cubic-bezier(.25,.8,.25,1);
    transition: all .5s cubic-bezier(.25,.8,.25,1);
}
.rightContent.hideTransaction[data-v-0dc9f329] {
    background-color: #02142b;
}
.h-100 {
    height: 100%!important;
}

.h-100 {
    height: 100%!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.flex-100[data-v-0dc9f329] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
/* .flex-50[data-v-0dc9f329] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
} */

main-content #binaryPage #rightContent #betAmount.bgSecondary3[data-v-0dc9f329], #main-content #binaryPage #rightContent[data-v-0dc9f329] {
    background-color: #011022!important;
}
#main-content #binaryPage #rightContent #betAmount.bgSecondary3[data-v-2860c586], #main-content #binaryPage #rightContent[data-v-2860c586] {
    background-color: #011022!important;
}
#main-content #binaryPage #rightContent, #main-content #binaryPage #rightContent #betAmount.bgSecondary3 {
    background-color: #011022!important;
}
#main-content #binaryPage #rightContent, #main-content #binaryPage #rightContent #betAmount.bgSecondary3 {
    background-color: #011022!important;
}
#betAmount[data-v-2860c586] {
    height: 100%;
    padding: 0.5rem 10px;
}
.colorSecondary[data-v-0dc9f329] {
    color: #fff;
}
.bgSecondary3-hover[data-v-0dc9f329]:hover, .bgSecondary3[data-v-0dc9f329], .bgSecondary4[data-v-0dc9f329] {
    background-color: #02142b!important;
}
.colorSecondary[data-v-0dc9f329] {
    color: #fff!important;
}
.bgSecondary3-hover[data-v-2860c586]:hover, .bgSecondary3[data-v-2860c586], .bgSecondary4[data-v-2860c586] {
    background-color: #02142b!important;
}
.colorSecondary[data-v-2860c586] {
    color: #fff!important;
}
.bgSecondary3, .bgSecondary3-hover:hover, .bgSecondary4 {
    background-color: #02142b!important;
}
.colorSecondary {
    color: #fff!important;
}

.font-14[data-v-2860c586] {
    font-size: .875rem;
}
.font-14[data-v-2860c586] {
    font-size: 14px;
}
.font-14 {
    font-size: 14px;
}justify-content

align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.btnPrice[data-v-15011326] {
    min-height: 40px;
    min-width: 40px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
}

button[data-v-15011326] {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
button {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.inputGroup[data-v-15011326] {
    margin: 0 7px;
    position: relative;
    padding: 5px;
    border-radius: 4px;
}

#InputNumber[data-v-15011326] {
    outline: none;
}
#InputNumber {
    outline: none;
}
#InputNumber {
    outline: none;
}
.inputGroup input[data-v-15011326] {
    border-bottom: none;
}
.font-16[data-v-15011326] {
    font-size: 16px;
}
input.form-control[data-v-15011326], input[data-v-15011326], select.form-control[data-v-15011326], select[data-v-15011326] {
    padding: 5px 11px;
    background: none;
    border: none;
    border-bottom: 1px solid #868f93;
    border-radius: 0;
}

#main-content #binaryPage #rightContent #betAmount .inputGroup .icon[data-v-15011326] {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#main-content #binaryPage #rightContent #betAmount .inputGroup .icon {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
#main-content #binaryPage #rightContent #betAmount .inputGroup .icon {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.inputGroup .icon[data-v-15011326] {
    position: absolute;
    top: 50%;
    left: 5px;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
}
.font-16[data-v-15011326] {
    font-size: 16px;
}
.font-16 {
    font-size: 16px;
}
.font-16 {
    font-size: 16px;
}

.keyboardAmount .row[data-v-7285a2e4] {
    margin-left: -3px;
    margin-right: -3px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.keyboardAmount .row [class*=col-][data-v-7285a2e4] {
    padding-left: 3px;
    padding-right: 3px;
}
.keyboardAmount .amountItem[data-v-7285a2e4] {
    margin-bottom: 6px;
}
.col-4, .col-5 {
    -webkit-box-flex: 0;
}
.col-4 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

a:not(.md-button) {
    text-decoration: none;
}
a:not(.md-button) {
    transition: .3s cubic-bezier(.25,.8,.25,1);
    transition-property: color,background-color,opacity;
}
a {
    color: #5dc1b9;
    text-decoration: none;
    background-color: transparent;
}

#main-content #binaryPage #rightContent .keyboardAmount .amountItem .bagItem[data-v-7285a2e4] {
    background-color: #1d233b;
}
#main-content #binaryPage #rightContent .keyboardAmount .amountItem .bagItem {
    background-color: #1d233b;
}
#main-content #binaryPage #rightContent .keyboardAmount .amountItem .bagItem {
    background-color: #1d233b;
}
.keyboardAmount .bagItem[data-v-7285a2e4] {
    width: 100%;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-color: #02142b;
}
.colorSecondary[data-v-7285a2e4] {
    color: #fff!important;
}

.colorSecondary[data-v-7285a2e4] {
    color: #fff!important;
}

.keyboardAmount .bagItem[data-v-7285a2e4] {
    width: 100%;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-color: #02142b;
}

@media (min-width: 992px) {
    .mb-lg-3, .my-lg-3 {
        margin-bottom: 1rem!important;
    }
}
@media (min-width: 992px) {
    .mt-lg-3, .my-lg-3 {
        margin-top: 1rem!important;
    }
}

@media (min-width: 992px) {
    .mb-lg-2, .my-lg-2 {
        margin-bottom: 0.5rem!important;
    }
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.profitPercent[data-v-0bab5d8e] {
    font-size: 1.25rem;
}

.font-weight-700[data-v-0bab5d8e] {
    font-weight: 700;
}
.font-30[data-v-0bab5d8e] {
    font-size: 1.875rem!important;
    line-height: 20px;
}
.font-weight-700 {
    font-weight: 700;
}

.colorSecondary[data-v-0dc9f329] {
    color: #fff!important;
}

#main-content #binaryPage #rightContent #betAmount .slider[data-v-4708bf56] {
    text-align: center;
}
#main-content #binaryPage #rightContent #betAmount .slider {
    text-align: center;
}
#main-content #binaryPage #rightContent #betAmount .slider {
    text-align: center;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.pb-1, .py-1 {
    padding-bottom: 0.25rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.progress[data-v-4708bf56] {
    height: 0.4rem;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
}
.progress, .progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.progress {
    height: 1rem;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.justify-content-between {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

@media (min-width: 992px) {
    .mt-lg-2, .my-lg-2 {
        margin-top: 0.5rem!important;
    }

}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.pb-1, .py-1 {
    padding-bottom: 0.25rem!important;
}
@media (min-width: 768px) {
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}

.btn.btnSuccess.colorDisable[data-v-76861cc0]:disabled, .btn.btnDown.colorDisable[data-v-76861cc0]:disabled {
    opacity: 1;
}
.btn.btnDown.colorDisable[data-v-76861cc0], .btn.btnSuccess.colorDisable[data-v-76861cc0] {
    background-color: #8b8d96 !important;
}
.groupButton .btn[data-v-76861cc0] {
    color: #fff;
    height: 60px;
}
.button[data-v-76861cc0]:disabled {
    cursor: no-drop;
}
button[data-v-76861cc0]:disabled {
    color: -internal-light-dark(rgba(16,16,16,.3),#aaa);
    background-color: -internal-light-dark(hsla(0,0%,93.7%,.3),rgba(19,1,1,.3));
    border-color: -internal-light-dark(hsla(0,0%,46.3%,.3),hsla(0,0%,76.5%,.3));
    cursor: no-drop;
}
.button:disabled {
    cursor: no-drop;
}
.button[data-v-76861cc0] {
    cursor: pointer;
    border: none;
    background: none;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 700!important;
    text-decoration: none;
}

.font-20[data-v-76861cc0] {
    font-size: 20px;
}
.font-20 {
    font-size: 20px;
}
.text-uppercase {
    text-transform: uppercase!important;
}

.ml-1, .mx-1 {
    margin-left: 0.25rem!important;
}

.pb-1, .py-1 {
    padding-bottom: 0.25rem!important;
}

.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
}
.mt-2, .my-2 {
    margin-top: 0.5rem!important;
}

.groupButton .btn[data-v-76861cc0] {
    color: #fff;
    height: 60px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btnTransparent[data-v-76861cc0] {
    position: relative;
    height: 38px;
    line-height: 38px;
}
a:not(.md-button) {
    text-decoration: none;
}

.font-14[data-v-76861cc0] {
    font-size: .875rem;
}
.font-14[data-v-76861cc0] {
    font-size: 14px;
}
.font-14 {
    font-size: 14px;
}

.font-18[data-v-76861cc0] {
    font-size: 1.125rem;
}
.font-weight-700[data-v-76861cc0] {
    font-weight: 700;
}

.groupButton .btn[data-v-76861cc0] {
    color: #fff;
    height: 60px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.button[data-v-76861cc0] {
    cursor: pointer;
    border: none;
    background: none;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 700!important;
    text-decoration: none;
}
.button[data-v-76861cc0] {
    font-weight: 700;
}
.button[data-v-76861cc0] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.colorDanger[data-v-76861cc0] {
    color: #fa2843;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
button[data-v-76861cc0] {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.button {
    cursor: pointer;
    border: none;
    background: none;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 700!important;
    text-decoration: none;
}

.flex-100[data-v-0dc9f329] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.keyboard-input-wrap[data-v-2860c586] {
    background: #8b8d96;
}
.keyboard-input-wrap[data-v-ec19f30c] {
    background: #8b8d96;
}
.keyboard-input-wrap {
    background: #8b8d96;
}

.keyboard-input-wrap .keyboard[data-v-ec19f30c] {
    font-size: 1.2em;
    color: #fff;
    border: none;
}

.keyboard.hidden[data-v-0261f4c4] {
    visibility: hidden;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
.keyboard-input-wrap .keyboard[data-v-0261f4c4] {
    font-size: 1.2em;
    color: #fff;
    border: none;
}
.keyboard-input-wrap .keyboard {
    font-size: 1.2em;
    color: #fff;
    border: none;
}
.colorSecondary[data-v-ec19f30c] {
    color: #fff!important;
}
.keyboard[data-v-0261f4c4] {
    height: 460px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    font-size: 1.2em;
    line-height: .48rem;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    font-weight: 400;
}

.btnPrice[data-v-15011326] {
    min-height: 40px;
    min-width: 40px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
}

.inputGroup[data-v-15011326] {
    margin: 0 7px;
    position: relative;
    padding: 5px;
    border-radius: 4px;
    height: 40px;
}

.md-body-1, body {
    font-weight: 400;
    line-height: 20px;
}

.profit[data-v-0bab5d8e] {
    font-size: 14px;
}

.keyboardAmount .row[data-v-7285a2e4] {
    margin-left: -3px;
    margin-right: -3px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}