.wrapNotify.error[data-v-049fb53f] {
    border: 1px solid #fa4b62;
}
.wrapNotify.error[data-v-049fb53f] {
    border-color: hsla(0,0%,100%,.1)!important;
}
.wrapNotify.error {
    border-color: hsla(0,0%,100%,.1)!important;
}
.wrapNotify[data-v-049fb53f] {
    position: relative;
    min-width: 200px;
    margin-bottom: 10px;
    background: #0e0031;
    color: #fff;
    border-radius: 5px;
}
.wrapNotify[data-v-049fb53f] {
    width: auto;
    background: #02142b;
}
.wrapNotify.error {
    border-color: hsla(0,0%,100%,.1)!important;
}
.wrapNotify {
    width: auto;
    background: #02142b;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 5px;
}
.wrapNotify {
    width: auto;
    background: #02142b;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 5px;
}

.wrapNotify.error .boxNotify[data-v-049fb53f] {
    background-color: #fff;
}
.wrapNotify.error .boxNotify[data-v-049fb53f] {
    background-color: #02142b!important;
}
.wrapNotify.error .boxNotify {
    background-color: #02142b!important;
}
.wrapNotify .boxNotify[data-v-049fb53f] {
    border-radius: 5px;
    padding: 13.5px 10px;
}
.wrapNotify .boxNotify .boxContent[data-v-049fb53f], .wrapNotify .boxNotify[data-v-049fb53f] {
    height: 100%;
    width: 100%;
    position: relative;
}
.wrapNotify.error .boxNotify {
    background-color: #02142b!important;
}
.wrapNotify .boxNotify {
    height: 100%;
    width: 100%;
    position: relative;
}
.wrapNotify .boxNotify {
    height: 100%;
    width: 100%;
    position: relative;
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
*, :after, :before {
    box-sizing: inherit;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.wrapNotify[data-v-049fb53f] {
    position: relative;
    min-width: 200px;
    margin-bottom: 10px;
    background: #0e0031;
    color: #fff;
    border-radius: 5px;
}
.wrapNotify {
    width: auto;
    background: #02142b;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 5px;
}

.wrapNotify.error .boxNotify .icon[data-v-049fb53f] {
    background: #fa4b62;
}

.wrapNotify.success .boxNotify .icon[data-v-049fb53f] {
    background: rgb(35, 193, 95);
}
.wrapNotify .boxNotify .icon[data-v-049fb53f] {
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 31px;
    height: 31px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.wrapNotify .boxNotify .icon {
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 31px;
    height: 31px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.wrapNotify .boxNotify .icon {
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 31px;
    height: 31px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wrapNotify .boxNotify .icon .fa-times[data-v-049fb53f] {
    color: #fff;
}
.wrapNotify .boxNotify .icon svg[data-v-049fb53f] {
    height: 20px;
}
.wrapNotify .boxNotify .icon svg {
    height: 20px;
}
.wrapNotify .boxNotify .icon svg {
    height: 20px;
}
svg {
    overflow: hidden;
}

.ml-2, .mx-2 {
    margin-left: 0.5rem!important;
}

.wrapNotify .boxNotify .boxContent[data-v-049fb53f], .wrapNotify .boxNotify[data-v-049fb53f] {
    height: 100%;
    width: 100%;
    position: relative;
}
.wrapNotify .boxNotify .boxContent {
    width: 100%;
    height: 100%;
    position: relative;
}
.wrapNotify .boxNotify .boxContent {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapNotify .boxNotify .boxContent .message[data-v-049fb53f] {
    font-size: 1rem;
}
.wrapNotify .boxNotify .boxContent span[data-v-049fb53f] {
    display: block;
}
.wrapNotify.error .message[data-v-049fb53f] {
    color: #fa4b62;
}
.wrapNotify.error .message[data-v-049fb53f] {
    color: #fff!important;
}

.wrapNotify .close-notify[data-v-049fb53f] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    right: -35px;
    top: 0;
    background-color: hsla(0,0%,100%,.3);
    cursor: pointer;
}