body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.notistack-SnackbarContainer {
  z-index: 9999 !important
}

.highcharts-legend-item, .highcharts-credits, .highcharts-axis-title {
  display: none !important;
}

.highcharts-yaxis-grid .highcharts-grid-line:last-child {
  display: none;
}

.highcharts-label .highcharts-tooltip {
  filter: brightness(0) invert(1) !important;

}

.plotlineChart .price, .plotlineChart .time {
  display: inline-block;
  background-color: #5dc1b9;
  padding: 2px 5px;
}
.plotlineChart .price {
  margin-bottom: 2px;
}
.plotlineChart .price, .plotlineChart .time {
  display: inline-block;
  background-color: #5dc1b9;
  padding: 2px 5px;
}

.plotlineChart .time {
  display: inline-block;
  background-color: #5dc1b9;
  padding: 2px 5px;
}
.plotlineChart .price, .plotlineChart .time {
  display: inline-block;
  background-color: #5dc1b9;
  padding: 2px 5px;
}
.align-self-end {
  -ms-flex-item-align: end!important;
  align-self: flex-end!important;
}

.highcharts-plot-line-label {
}